#cliff {
    width: 100vw;
}

.container-fluid {
    width: 90%;
    margin: 0 auto;
}

.brand-logo {
    font-family: 'Oswald', sans-serif;
}

#chip {
    margin-right: 80px;
    margin-top: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}

#map-card {
    margin-right: 20px;
}

.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map-container iframe,
.responsive-map-container object,
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.parallax-container {
    height: 500px;
}

#tagline {
    font-size: 1.5rem;
}

#info-card {
    height: 450px;
}

#tab-content {
    position: relative;
    height: 85%
}

#routes {
    position: absolute;
    height: 90%;
    overflow: hidden;
    margin-right: 24px;
    font-family: 'Nanum Gothic', sans-serif;
}

#route-table {
    position: relative;
    height: 100%;
    overflow: auto;
}

#meetups {
    position: absolute;
    height: 90%;
    overflow: hidden;
    margin-right: 24px;
    font-family: 'Nanum Gothic', sans-serif;
}

#meetups-table {
    position: relative;
    height: 100%;
    overflow: auto;
}


/* MQ ------------------------------------ */


/* under 600px */

@media screen and (max-width: 600px) {
    #map-card {
        margin-right: 0px
    }
    .brand-logo {
        margin-left: 0px
    }
}