#cliff {
    background-position: 50% 210px;
    background-size: 100%;
}

h4 {
    margin: 0;
}

.collection {
    margin: 0;
}

#map {
    /* width:100%; */
    width: 600px;
    height: 450px;
}

.container-fluid {
    width: 90%;
    margin: 0 auto;
}

.container-fluid {
    padding-top:15px;
}

.brand-logo {
    margin-left:60px;
    font-family: 'Oswald', sans-serif;
}

#chip {
    margin-right:60px;
    margin-top:16px;
    font-family: 'Nanum Gothic', sans-serif;
}

#map-card {
    margin-left:20px;
}

.responsive-map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map-container iframe,   
.responsive-map-container object,  
.responsive-map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}